.membership__Section2--cards { transition: all .2s ease-in-out; }
.membership__Section2--cards:hover { transform: scale(1.1); }

.btn { transition: all .2s ease-in-out; }
.btn:hover { transform: scale(1.1); }

// .photoSection-Section1__image { transition: all .2s ease-in-out; }
// .photoSection-Section1__image:hover { transform: scale(1.1); }


// .photoSection-Section2__image{ transition: all .2s ease-in-out; }
// .photoSection-Section2__image:hover { transform: scale(1.1); }