*{
    margin: 0;
    padding:0 ;
}

html{
    // box-sizing: border-box; 
    font-size: 62.5%;     //1rem = 10px


    @include respond(tab-land){
        font-size: 56.25%;     //1 rem = 9px
    }
    
    @include respond(tab-port){
        font-size: 50%;     // 1rem = 8px
    }
    @include respond(phone){
        font-size: 30%;       //1 rem = 8px
    }
  
    @include respond(big-desktop){
        font-size: 75%;
    }
}
body{
   font-family: 'open Sans', sans-serif;

}