.membership{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 1rem;


    &__Section1{
        display: flex;
        flex-direction: column;
        align-items: center;

        &--heading{
           padding: 3rem;
            font-size: 6rem;
        }
        &--paragraph{
            color: gray;
        }
    }

    &__Section2{
       padding: 3rem;
       display: flex;
       justify-content: space-around;

       
        &--cards{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 27rem;
            background-color: rgb(252, 252, 252);
            padding: .6rem;

            &--img{
                width: 27rem;
                height: 20rem;
                clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 100%, 80% 84%, 0 100%, 0 73%, 0% 43%, 0 0);
            }

            &--heading{
                font-size: 3rem;
                padding: 1rem;
            }

            &--paragraph{
                padding: 2rem;
                color: gray;
                text-align: center;
            }

            &--btn{
                padding: 2rem;
            }
        }
    }
}

   

    